
.introPage{
    width: max-content;
    
    background-color: linear-gradient(to bottom , #0000006b , #00000062);
    height: 100%;
   
    color: whitesmoke;
}

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  
  font-family: 'Roboto', sans-serif;
 
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
  font-family: 'Russo One', sans-serif;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid ;
  top: 0;
  font-size: xx-large;

  
}
.animated-title > div.text-top div {
    
  animation: showTopText 1s ;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: white;
  font-weight: bolder;
}
.animated-title > div.text-bottom {
  bottom: 0;
  
}
.animated-title > div.text-bottom div {
    font-size: 6vmin;
    animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}
